
@{
    ViewBag.Title = "Select";
}

<h2>Select</h2>
<form method="post" action="@Url.Action("SelectTable","Home")">
    <input type="text" name="sql" />
    <input type="submit" value="提交" />
</form>
