@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="陈大人,pcstx" />
    <title>陈大人</title>
    <style>
        body {
            background: url('Img/bg_universal17ced3.png') repeat;
        }

        #code {
            margin: 200px auto 0 auto;
            width: 300px;
        }

        #word {
            text-align: center;
            color: #e6e6e6;
            font-weight: bold;
            font-family: 'Microsoft YaHei';
            font-size: large;
        }

        footer {
            text-align: center;
            width: 250px;
            margin: 100px auto 0 auto;
        }

        .webwx {
            color: rgb(36,38,39);
            font-size: 14px;
            text-shadow: 0px 1px 0px #5b5c5e;
        }
    </style>
</head>
<body>
    <div id="code">
        <img src="Img/pcstx1.jpg" />
    </div>
    <div id="word">
        <p>用微信扫描加好友</p>
    </div>
    <footer>
        <p><a href="http://www.chendaren.com" target="_blank">陈大人博客</a></p>
        <p class="webwx">陈大人 2014 苏ICP备14007862号-1 </p>
    </footer>
</body>
</html>
