<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<DataBase name="SqlServerHelper" default="true">
    <write connectionString="Server=180.153.108.78;Initial Catalog=eTicket_SIT;User Id=muser;Password=1qaz2wsx;" />
    <read connectionString="Server=180.153.108.78;Initial Catalog=eTicket_SIT;User Id=muser;Password=1qaz2wsx;" />
  </DataBase>-->
  <DataBase name="MyServer" default="true">
    <write connectionString="Server=121.40.120.1;Initial Catalog=e-Repair_1.0;User Id=sa;Password=SQL123!;" />
    <read connectionString="Server=121.40.120.1;Initial Catalog=e-Repair_1.0;User Id=sa;Password=SQL123!;" />
  </DataBase>
</connectionStrings>