<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <DataBase name="SqlServerHelper" default="true">
    <write connectionString="Server=180.153.108.78;Initial Catalog=eTicket_SIT;User Id=muser;Password=1qaz2wsx;" />
    <read connectionString="Server=180.153.108.78;Initial Catalog=eTicket_SIT;User Id=muser;Password=1qaz2wsx;" />
  </DataBase>
  <DataBase name="MyServer" default="true">
    <write connectionString="Server=mssql.sql87.cdncenter.net;Initial Catalog=sq_pcstx1;User Id=sq_pcstx1;Password=ogg5kug6;" />
    <read connectionString="Server=mssql.sql87.cdncenter.net;Initial Catalog=sq_pcstx1;User Id=sq_pcstx1;Password=ogg5kug6;" />
  </DataBase>
</connectionStrings>